<div class="page_content">
  <section>
    <h1>Entrada</h1>
    <div>
      <span class="video">
        <p class="title">Cam 01</p>
        <img src="/assets/front_car.jpg" alt="">
      </span>
      <div class="vehicle_data data_section">
        <h2>Veículo</h2>
        <span class="reference_car_container">
          <span>
            <img class="reference_car_img" src="/assets/front_car.jpg" alt="">
          </span>
          <span>
            <img class="reference_car_img" src="/assets/back_car.png" alt="">
          </span>
        </span>
        <p>Marca: {{'data.vehicle.brand'}}</p>
        <p>Modelo: {{'data.vehicle.model'}}</p>
        <p>Ano: {{'data.vehicle.year'}}</p>
        <p>Cor: {{'data.vehicle.color'}}</p>
      </div>
      <div class="user_data data_section">
        <h2>Usuário</h2>
        <img src="/assets/profile.jpg" alt="profile">
        <p>Nome: {{'data.user.name'}}</p>
      </div>
    </div>
  </section>
  <hr>
    <section>
    <h1>Saída</h1>
    <div>
      <div class="user_data data_section">
        <h2>Usuário</h2>
        <img src="/assets/profile.jpg" alt="profile">
        <p>Nome: {{'data.user.name'}}</p>
      </div>
      <div class="vehicle_data data_section">
        <h2>Veículo</h2>
        <span class="reference_car_container">
          <span>
            <img class="reference_car_img" src="/assets/front_car.jpg" alt="">
          </span>
          <span>
            <img class="reference_car_img" src="/assets/back_car.png" alt="">
          </span>
        </span>
        <p>Marca: {{'data.vehicle.brand'}}</p>
        <p>Modelo: {{'data.vehicle.model'}}</p>
        <p>Ano: {{'data.vehicle.year'}}</p>
        <p>Cor: {{'data.vehicle.color'}}</p>
      </div>
      <span class="video">
        <p class="title">Cam 02</p>
        <img src="/assets/back_car.png" alt="">
      </span>
    </div>
  </section>
</div>
